#title {
    position: absolute;
    background-color: aqua;
    width: 200px;
    height: 200px;
    font-family: Andalus, fantasy;
}
#titl {
    position: absolute;
    background-color: rebeccapurple;
    width: 100px;
    height: 100px;
    font-family: Andalus, fantasy;
}